# Ignore AWS credentials and kubeconfig
~/.aws/
~/.kube/
.env

# Ignore Terraform state files 
*.tfstate
*.tfstate.backup
# Ignore Terraform cache files
.terraform/
.terraform.lock.hcl

# Ignore Helm and Kubernetes temp files
charts/
*.tgz
*.lock

# Ignore compiled files and logs
*.log
*.out
*.class
*.DS_Store

# Ignore Python virtual environments
venv/
__pycache__/

# Ignore Docker-related files
*.dockerignore
docker-compose.override.yml
 
# Ignore AWS CLI Installer
awscliv2.zip

# Ignore binaries and executables
kubectl

# Ignore system config files
.bash_history
.aws/
.azure/
.gitconfig
.local/
.cache/
.bash_logout
.bashrc
.docker/
.lesshst
.motd_shown
.profile
.sudo_as_admin_successful

# Ignore AWS cli install
awscliv2.zip
